aiohttp==0.21.6
asyncio==3.4.3
beautifulsoup4==4.4.1
bs4==0.0.1
chardet==2.3.0
discord.py==0.10.0
gspread==0.4.0
httplib2==0.9.2
oauth2client==2.2.0
pyasn1==0.1.9
pyasn1-modules==0.0.8
pyowm==2.3.2
requests==2.10.0
rsa==3.4.2
six==1.10.0
websockets==3.1
